@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body,
#root {
	height: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 0.375rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f5f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #cbd5e1;
	border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #98abc2;
}
